<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.soundservice.dao.PermissionResourceMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.sound.pojo.PermissionResource">
    <id column="permission_resource_id" jdbcType="VARCHAR" property="permissionResourceId" />
    <result column="permission_resource_permissionid" jdbcType="VARCHAR" property="permissionResourcePermissionid" />
    <result column="permission_resource_resourceid" jdbcType="VARCHAR" property="permissionResourceResourceid" />
    <result column="permission_resource_creater" jdbcType="VARCHAR" property="permissionResourceCreater" />
    <result column="permission_resource_creattime" jdbcType="VARCHAR" property="permissionResourceCreattime" />
    <result column="permission_resource_editer" jdbcType="VARCHAR" property="permissionResourceEditer" />
    <result column="permission_resource_edittime" jdbcType="VARCHAR" property="permissionResourceEdittime" />
  </resultMap>
  <sql id="Base_Column_List">
    permission_resource_id, permission_resource_permissionid, permission_resource_resourceid, 
    permission_resource_creater, permission_resource_creattime, permission_resource_editer, 
    permission_resource_edittime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission_resource
    where permission_resource_id = #{permissionResourceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from permission_resource
    where permission_resource_id = #{permissionResourceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wisdom.sound.pojo.PermissionResource">
    insert into permission_resource (permission_resource_id, permission_resource_permissionid, 
      permission_resource_resourceid, permission_resource_creater, 
      permission_resource_creattime, permission_resource_editer, 
      permission_resource_edittime)
    values (#{permissionResourceId,jdbcType=VARCHAR}, #{permissionResourcePermissionid,jdbcType=VARCHAR}, 
      #{permissionResourceResourceid,jdbcType=VARCHAR}, #{permissionResourceCreater,jdbcType=VARCHAR}, 
      #{permissionResourceCreattime,jdbcType=VARCHAR}, #{permissionResourceEditer,jdbcType=VARCHAR}, 
      #{permissionResourceEdittime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.sound.pojo.PermissionResource">
    insert into permission_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="permissionResourceId != null">
        permission_resource_id,
      </if>
      <if test="permissionResourcePermissionid != null">
        permission_resource_permissionid,
      </if>
      <if test="permissionResourceResourceid != null">
        permission_resource_resourceid,
      </if>
      <if test="permissionResourceCreater != null">
        permission_resource_creater,
      </if>
      <if test="permissionResourceCreattime != null">
        permission_resource_creattime,
      </if>
      <if test="permissionResourceEditer != null">
        permission_resource_editer,
      </if>
      <if test="permissionResourceEdittime != null">
        permission_resource_edittime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="permissionResourceId != null">
        #{permissionResourceId,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourcePermissionid != null">
        #{permissionResourcePermissionid,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceResourceid != null">
        #{permissionResourceResourceid,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceCreater != null">
        #{permissionResourceCreater,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceCreattime != null">
        #{permissionResourceCreattime,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceEditer != null">
        #{permissionResourceEditer,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceEdittime != null">
        #{permissionResourceEdittime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.sound.pojo.PermissionResource">
    update permission_resource
    <set>
      <if test="permissionResourcePermissionid != null">
        permission_resource_permissionid = #{permissionResourcePermissionid,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceResourceid != null">
        permission_resource_resourceid = #{permissionResourceResourceid,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceCreater != null">
        permission_resource_creater = #{permissionResourceCreater,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceCreattime != null">
        permission_resource_creattime = #{permissionResourceCreattime,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceEditer != null">
        permission_resource_editer = #{permissionResourceEditer,jdbcType=VARCHAR},
      </if>
      <if test="permissionResourceEdittime != null">
        permission_resource_edittime = #{permissionResourceEdittime,jdbcType=VARCHAR},
      </if>
    </set>
    where permission_resource_id = #{permissionResourceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.sound.pojo.PermissionResource">
    update permission_resource
    set permission_resource_permissionid = #{permissionResourcePermissionid,jdbcType=VARCHAR},
      permission_resource_resourceid = #{permissionResourceResourceid,jdbcType=VARCHAR},
      permission_resource_creater = #{permissionResourceCreater,jdbcType=VARCHAR},
      permission_resource_creattime = #{permissionResourceCreattime,jdbcType=VARCHAR},
      permission_resource_editer = #{permissionResourceEditer,jdbcType=VARCHAR},
      permission_resource_edittime = #{permissionResourceEdittime,jdbcType=VARCHAR}
    where permission_resource_id = #{permissionResourceId,jdbcType=VARCHAR}
  </update>


</mapper>